<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Controle Seus Alunos</small></h1>
      </div>

      <div class="col-md-2">
        <div class="dropdown create">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">Adicionar Conteúdo
            <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a type="button" [routerLink]="['/aluno/add']">Adicionar Aluno</a></li>
            <li><a type="button" [routerLink]="['/disciplina/add']">Adicionar Disciplina</a></li>
            <li><a type="button" [routerLink]="['/turma/add']">Adicionar Turma</a></li>
            <li><a type="button" [routerLink]="['/turma/list']">Adicionar Frequência e Notas</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>
<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Dashboard</li>
    </ol>
  </div>
</section>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a type="button" [routerLink]="['/dashboard']" class="list-group-item active main-color-bg">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
          </a>
          <a type="button" [routerLink]="['/turmas/list']" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Turmas
            <span class="badge">12</span>
          </a>
          <a type="button" [routerLink]="['/alunos']" class="list-group-item">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Alunos
            <span class="badge">2</span>
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Visão Geral do Site -->
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Visão Geral do Sistema</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-3">
              <div class="well dash-box">
                <h2>
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 12
                </h2>
                <h4>Turmas</h4>
              </div>
            </div>
            <div class="col-md-3">
              <div class="well dash-box">
                <h2>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 2
                </h2>
                <h4>Alunos</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
